/*================== Primary setUp ============= */
* { 
				margin: 0; 
				padding: 0;
				} 
				
 html { 
 				overflow: hidden;
 				} 
 				
 body { 
 				font: 15px/1.3 Arial, sans-serif; 
 				z-index: 1; 
 				background: #e3edf7;
 				}
 				
  
  #clock 				{ 
   											width: 370px; 
   											padding: 40px; 
   											margin: 100px auto 60px; 
   											position: relative;
   											}
   
 #clock:after { 
    													content: '';
    													position: absolute; 
    													width: 400px; 
    													height: 20px; 
    													border-radius: 100%; 
    													left: 50%; 
    													margin-left: -200px; 
    													bottom: 2px; 
    													z-index: -1;
    													} 
    													
 h2 {
  				position: absolute;
  				top:2%;
  				left:10%;
  				margin-bottom:1rem;
  				text-transform:uppercase;
  				color:#ffffea;
  }
    
 #clock .display { 
 																text-align: center; 
 																padding: 30px; 
 																border-radius: 6px; 
 																position: relative; 
 																height: 54px;} 
    
#clock.dark { 
												background-color: #319197;
												border-radius: 5px;
												}
     
 #clock.dark:after { 
 																				box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
 																				}
      
 #clock.dark .display { 
 																						background-color: #0f1620; 
 																						box-shadow: 0 1px 1px rgba(0, 0, 0, 0.08) inset, 0 1px 1px #2d3642;
 																						}
      
 h1#time { 
 										display: inline-block; 
 										font-size: 36px;
      }
      
 small{
      				color:#ff1593;
      }

#time{
				color:#8fff00;
				
}

.calender {
				margin-top:2rem;
				font-size: 1.5rem;
}

.calender  .date{
				margin-left: 2rem;
				background: #0f1620;
				color: #ff1593 ;
				padding:10px;
				font-weight: bold;
				border-radius: 8px;
}

#date{
				background: #0f1620;
				color: #eaffff ;
				padding:10px;
				font-weight: bold;
				border-radius: 8px;
				}
